<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <MySql>
    <Params>
        allowPublicKeyRetrieval=true
        useSSL=false
        useUnicode=true
        characterEncoding=UTF-8
        serverTimezone=UTC
    </Params>
    <Conn>
        <Alias>mysql1</Alias>
        <Port>3306</Port>
        <Host>localhost</Host>
        <User>root</User>
        <Pass>178ueee34</Pass>
        <DBName>sys</DBName>
    </Conn>
    </MySql>
    <MySql>
        <Params>
            allowPublicKeyRetrieval=true
            useSSL=false
            useUnicode=true
            characterEncoding=UTF-8
            serverTimezone=UTC
        </Params>
        <Conn>
            <Alias>mysql2</Alias>
            <Port>3306</Port>
            <Host>localhost</Host>
            <User>root</User>
            <Pass>178ueee34</Pass>
            <DBName>sys</DBName>
        </Conn>
    </MySql>
</Config>
